## Lists

### List Slicing

In [1]:
myList = [1,2,3,4,5]
myList[3:]

[4, 5]

In [2]:
myList[0:6:2]

[1, 3, 5]

In [3]:
myList[0:6:3]

[1, 4]

In [4]:
myList[::2]

[1, 3, 5]

In [ ]:
for i in range(100):
    print(i)

In [7]:
myList = list(range(100))

In [10]:
myList[::10]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [12]:
myList[::-10]

[99, 89, 79, 69, 59, 49, 39, 29, 19, 9]

### Modifying Lists

In [13]:
myList = [1,2,3,4]
myList.append(5)
print(myList)

[1, 2, 3, 4, 5]

In [14]:
myList.insert(3, 'a new value')
print(myList)

[1, 2, 3, 'a new value', 4, 5]

In [17]:
myList.remove('a new value')

ValueError: list.remove(x): x not in list

In [16]:
myList

[1, 2, 3, 4, 5]

In [18]:
myList.pop()

5

In [19]:
myList

[1, 2, 3, 4]

In [20]:
while len(myList):
    print(myList.pop())

4
3
2
1

In [21]:
myList

[]

In [22]:
a = [1,2,3,4,5]
b = a
a.append(6)
print(b)

[1, 2, 3, 4, 5, 6]

In [23]:
a = [1,2,3,4,5]
b = a.copy()
a.append(6)
print(a)
print(b)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]

In [24]:
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19